*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    background-color: rgb(40, 36, 36);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

input{
    padding: 1rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    min-width: 350px;
}

input:focus{
    outline: none;
}

.weather{
    text-align: center;
    font-size: 2rem;
}

.weather h2{
    display: flex;
    align-items: center;
}